.terms {
    display: flex;
  }
  
  nav { 
    flex: 0 0 45vw;
    background: rgb(255, 255, 255);
  }
  .terms-wrapper {
    position: fixed;
    top: 30px; 
    left: 30px;
    vertical-align: baseline;
    font-family: "Arrival Apercu Pro", system-ui;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    font-size: 24px;
    line-height: 34px;
  }
  
  section {
    flex: 1 1;
    padding: 20px;
  }
  @media screen and (max-width: 480px) {
    section {
     flex: 0 0;
        padding: 20px;
      }
  }
  .terms-questions{
    line-height: 0.9rem;
  }
  .terms-answers{
    margin-top: 80px;
    font-size: 16px;
    line-height: 2rem;
    font-weight: 350;
  }
  .privacylink{
    color: #000;
    text-decoration: underline;
  }
  .privacylink:hover{
    color: #000;
    text-decoration: underline;
  }
  .terms-heading{
 font-size: 24px;
 font-family: "Arrival Apercu Pro", system-ui;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 32px;
  }